<mat-card class="post-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="post-card__header-image"
      [ngStyle]="backgroundImageForPost"
    ></div>
    <mat-card-title>
      {{ post.title }}
    </mat-card-title>
    <mat-card-subtitle>
      <span class="post-card__header-username">
        {{ post.user.fullName }}
      </span>

      <b>{{ post.createdAt | date: 'MMM d, y, HH:mm' }}</b>
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="post.imageUrl" [alt]="post.title" />

  <mat-card-content>
    <p class="post-card__text">
      {{ post.text }}
    </p>
  </mat-card-content>
  <mat-card-actions class="post-card__actions">
    <ng-container *ngIf="false">
      <button mat-button>
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-button>
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </ng-container>
  </mat-card-actions>
  <mat-card-footer class="footer">
    <div class="footer__views">
      <mat-icon>visibility</mat-icon>
      <span class="footer__amount">{{ post.viewsCount }}</span>
    </div>
    <div class="footer__tags">
      <ng-container *ngFor="let tag of post.tags; trackBy: trackTag">
        <span class="footer__tags-item">{{ tag }}</span>
      </ng-container>
    </div>
  </mat-card-footer>
</mat-card>
