@import 'src/app/scss/_variables';

.post-card {
  max-width: $base * 100;
}

.post-header-image {
  background-size: cover;
  background-position: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__views {
    display: flex;
    align-items: center;
  }

  &__amount {
    margin-left: $base;
  }
}
