<app-nav-menu></app-nav-menu>

<div class="wrapper" *ngIf="!(loaded$ | async)">
  <form
    class="form"
    novalidate
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <h1 class="form-heading">Sign Up</h1>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        placeholder="Type your email"
        formControlName="email"
        required
      />
      <mat-error>{{ emailErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input
        matInput
        placeholder="Type your full name"
        formControlName="fullName"
        required
      />
      <mat-error>{{ fullNameErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Minimum 5 symbols"
        formControlName="password"
        required
      />
      <mat-error>{{ passwordErrors }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Avatar URL</mat-label>
      <input matInput placeholder="Attach URL" formControlName="avatarUrl" />
      <mat-error>
        {{ avatarUrlErrors }}
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="form-btn"
      type="submit"
      [disabled]="
        registerForm.invalid || registerForm.disabled || (loading$ | async)
      "
    >
      Sign Up
    </button>

    <mat-error *ngIf="serverError$ | async">
      {{ serverError$ | async }}
    </mat-error>
  </form>
</div>

<app-footer></app-footer>
