.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo,
.user {
  background-color: #673AB7;
  width: 20%;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;

  img {
    width: 50px;
    height: 50px;
    margin-left: 100px;
  }

  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0.1px;
    background-color: #673AB7;
    transform: translateX(100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
}

.nav{
  width: 60%;

  &-container {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-item {
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: #673AB7;
      color: #fff;
    }

    // Canceled hover effect for sign out button
    &:is(button):hover{
      background-color: #F44336;
    }

    &:first-child {
      margin-right: 15px;
    }
  }
}

.user {
  position: relative;
  color: #fff;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #673AB7;
    transform: translateX(-100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }
}
