.nav{
  &-container {
    padding: 20px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #000;
  }

  &-item {
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: #673AB7;
      color: #fff;
    }

    // Canceled hover effect for sign out button
    &:is(button):hover{
      background-color: #F44336;
    }

    &:first-child {
      margin-right: 15px;
    }
  }
}

