/* You can add global styles to this file, and also import other style files */
@import 'src/app/scss/_variables';

*,
html,
body {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.error-snackbar {
  background-color: $danger-color !important;
  display: flex !important;
  justify-content: center !important;
  color: $secondary-color !important;
}

.success-snackbar {
  background-color: $primary-color !important;
  display: flex !important;
  justify-content: center !important;
  color: $secondary-color !important;
}
