@import 'src/app/scss/_variables';

.footer {
  width: 100%;
  height: $base * 12.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;

  &__copyright {
    color: $secondary-color;
    font-weight: 500;
  }
}
